@model DALlab.record

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    @*<h4>record</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noofitems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noofitems)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Displayrecords")
</p>
